In [24]:
import pandas as pd
df= pd.read_csv("Star3642_balanced.csv")
df

      Vmag    Plx  e_Plx    B-V       SpType       Amag  TargetClass
0     5.99  13.73   0.58  1.318        K5III  16.678352            0
1     8.70   2.31   1.29 -0.045         B1II  15.518060            0
2     5.77   5.50   1.03  0.855        G5III  14.471813            0
3     6.72   5.26   0.74 -0.015          B7V  15.324928            1
4     8.76  13.44   1.16  0.584          G0V  19.401997            1
...    ...    ...    ...    ...          ...        ...          ...
3637  7.29   3.26   0.95  1.786        K4III  14.856089            0
3638  8.29   6.38   1.00  0.408       F2IV/V  17.314104            1
3639  6.11   2.42   0.79  1.664  M0/M1IIICNp  13.029078            0
3640  7.94   4.94   2.90  0.210          A5V  16.408636            1
3641  8.81   1.87   1.23  1.176     K1/K2III  15.169209            0

[3642 rows x 7 columns]

In [25]:
df.isna().sum()

Vmag           0
Plx            0
e_Plx          0
B-V            0
SpType         0
Amag           0
TargetClass    0
dtype: int64

In [26]:
df.duplicated().sum()

np.int64(0)

In [27]:
df.drop_duplicates()

      Vmag    Plx  e_Plx    B-V       SpType       Amag  TargetClass
0     5.99  13.73   0.58  1.318        K5III  16.678352            0
1     8.70   2.31   1.29 -0.045         B1II  15.518060            0
2     5.77   5.50   1.03  0.855        G5III  14.471813            0
3     6.72   5.26   0.74 -0.015          B7V  15.324928            1
4     8.76  13.44   1.16  0.584          G0V  19.401997            1
...    ...    ...    ...    ...          ...        ...          ...
3637  7.29   3.26   0.95  1.786        K4III  14.856089            0
3638  8.29   6.38   1.00  0.408       F2IV/V  17.314104            1
3639  6.11   2.42   0.79  1.664  M0/M1IIICNp  13.029078            0
3640  7.94   4.94   2.90  0.210          A5V  16.408636            1
3641  8.81   1.87   1.23  1.176     K1/K2III  15.169209            0

[3642 rows x 7 columns]

In [28]:
df.shape

(3642, 7)

In [34]:
# Select only numerical columns
numerical_features = ['Vmag', 'Plx', 'e_Plx', 'B-V', 'Amag', 'TargetClass']
df_num = df[numerical_features]

In [40]:
df= df.drop(columns=["SpType"])
df

      Vmag    Plx  e_Plx    B-V       Amag  TargetClass
0     5.99  13.73   0.58  1.318  16.678352            0
1     8.70   2.31   1.29 -0.045  15.518060            0
2     5.77   5.50   1.03  0.855  14.471813            0
3     6.72   5.26   0.74 -0.015  15.324928            1
4     8.76  13.44   1.16  0.584  19.401997            1
...    ...    ...    ...    ...        ...          ...
3637  7.29   3.26   0.95  1.786  14.856089            0
3638  8.29   6.38   1.00  0.408  17.314104            1
3639  6.11   2.42   0.79  1.664  13.029078            0
3640  7.94   4.94   2.90  0.210  16.408636            1
3641  8.81   1.87   1.23  1.176  15.169209            0

[3642 rows x 6 columns]

In [37]:
#perform train test split
#import train test from sklearn in the first block of this notebook
from sklearn.model_selection import train_test_split
train_df,test_df = tain_test_split(df_num,test_size=0.2,ramdom_state=42)

NameError: name 'tain_test_split' is not defined

In [32]:
#import decision tree in the first block of this notebook
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [33]:
#taining/fitting model with training data
dt.fit(x_train, y_train)

ValueError: could not convert string to float: 'B2IIIne+...'