# WorkShop Day 1

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
print("hello world!");
a = 200
b = 33

if b > a:
  print("b is greater than a");
else:
  print("b is not greater than a");
print(15+20)

hello world!
b is not greater than a
35

In [9]:
car=["ford","BMW","TaTa"]
print(car)

['ford', 'BMW', 'TaTa']

In [11]:
b= 'Yogen'
c='Sohena'
d= 12.12
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'str'>
<class 'float'>

In [16]:
#Take the input from the user to show their name and age
name= input("enter the name")
age= int(input("enter the age"))
print("Name: ",name)
print("age: ",age)

enter the name yogen
enter the age 22

Name:  yogen
age:  22

In [19]:
def calc(a,b):
    return a+b,a-b,a*b,a/b
s,d,p,q=calc(10,5)
print(f"Sum:{s}")
print(f"diff:{d}")
print(f"product:{p}")
print(f"Quotient:{q}")

Sum:15
diff:5
product:50
Quotient:2.0

In [24]:
#List
a=['Sujan',1,6,2.3]
print(type(a))

<class 'list'>

In [26]:
#print each element of list seprately
for element in a:
    print(element)

Sujan
1
6
2.3

In [28]:
#deleteing from a list
print(a.pop())
print(a)

6
['Sujan', 1]

In [31]:
print(a.pop(0))

1

In [33]:
#assigning new data
a.append(20)
print(a)

[20, 20]

In [37]:
#replacing data
a[1]=200
print(a)

[20, 200]

In [52]:
#Do same thing for Tuples
a={2,4,5,7}
print(a)
print(type(a))

{2, 4, 5, 7}
<class 'set'>

In [56]:
from workshop import interest
print(interest(10,12,15))

18.0

In [64]:
from operation import Operation
val = Operation(23,24)
print(val.sum())
print(val.diff())
print(val.product())
print(val.div())

47
-1
552
0.9583333333333334

In [75]:
from bim import BiM
print(f"{BiM(180,34):.2f}")

1557.09

In [1]:
from bim import grade
val=grade()
print(f"Your grade is: {val}")

Enter your exam score (0-100):  71

Your grade is: C